$font-sans: 'Lato', 'Helvetica Neue', Arial, sans-serif;
$font-display: 'Lato', 'Helvetica Neue', Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 32px;
$font-size-4xl: 40px;
$font-size-5xl: 48px;
$line-height-base: 1.5;
$line-height-tight: 1.2;